
        
        <div class="row">
            <section class="col-xs-4">
                                
                    <a [routerLink]="['Car']" class="list-group-item clearfix" >
                        <img class="img-rounded center-block" src="../../assets/images/showcase/carThumb.jpg" alt="Icon">
                    </a>
                                                    
            </section>

            <section class="col-xs-4"> 
                              
                    <a  [routerLink]="['Van']" class="list-group-item clearfix" >
                        <img class="img-rounded img-responsive center-block" src="../../assets/images/showcase/vanThumb.jpg" alt="Icon">
                    </a>  
                                                             
            </section>

            <section class="col-xs-4"> 
                              
                    <a  [routerLink]="['Cab']" class="list-group-item clearfix" >
                        <img class="img-rounded img-responsive center-block" src="../../assets/images/showcase/cabsThumb.jpg" alt="Icon">
                    </a>  
                                                             
            </section>

        </div>

        <router-outlet></router-outlet>
    
