<div class="row">
    <section class="col-sm-4">
        <img src="../../assets/images/staff/driver_1.jpg" alt="Driver One Photo" class="img-circle img-responsive center-block">
        <div class="text-center">
	        <h3>Sudesh</h3>
	        <p>Sudesh is the owner and founder of Kandy Express. Though he is overly and inappropritely insquisitive, he is a punctual and safe driver. You can count on this guy</p>
        </div>	
    </section>
    <section class="col-sm-4">
        <img src="../../assets/images/staff/driver_2.jpg" alt="Driver One Photo" class="img-circle img-responsive center-block">
        <div class="text-center">
	        <h3>Nadil</h3>
	        <p>Nadil is the owner and founder of Kandy Express. Though he is overly and inappropritely insquisitive, he is a punctual and safe driver. You can count on this guy</p>
        </div>
    </section>
    <section class="col-sm-4">
        <img src="../../assets/images/staff/driver_3.jpg" alt="Driver One Photo" class="img-circle img-responsive center-block">
        <div class="text-center">
	        <h3>Kusal</h3>
	        <p>Kusal is the owner and founder of Kandy Express. Though he is overly and inappropritely insquisitive, he is a punctual and safe driver. You can count on this guy</p>
        </div>
    </section>
    <section class="col-sm-4">
        <img src="../../assets/images/staff/driver_3.jpg" alt="Driver One Photo" class="img-circle img-responsive center-block">
        <div class="text-center">
	        <h3>Tharindu</h3>
	        <p>Tharindu is the owner and founder of Kandy Express. Though he is overly and inappropritely insquisitive, he is a punctual and safe driver. You can count on this guy</p>
        </div>
    </section>
    <section class="col-sm-4">
        <img src="../../assets/images/staff/driver_2.jpg" alt="Driver One Photo" class="img-circle img-responsive center-block">
        <div class="text-center">
	        <h3>Kamal</h3>
	        <p>Kamal is the owner and founder of Kandy Express. Though he is overly and inappropritely insquisitive, he is a punctual and safe driver. You can count on this guy</p>
        </div>
    </section>
    <section class="col-sm-4">
        <img src="../../assets/images/staff/driver_1.jpg" alt="Driver One Photo" class="img-circle img-responsive center-block">
        <div class="text-center">
	        <h3>Wimal</h3>
	        <p>Wimal is the owner and founder of Kandy Express. Though he is overly and inappropritely insquisitive, he is a punctual and safe driver. You can count on this guy</p>
    </div>
    </section>
</div>